@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oxanium:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.border-animation {
  position: relative;
  color: #2da2ff;
  border-bottom: 2px solid #2da2ff;
}

.border-animation::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #fd8d4b;
  transition: 0.3s ease-in-out;
}

.border-animation:hover::before {
  width: 100%;
}
